<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <!-- メインページ -->
    <div class="col-9">
      <div class="row">
        <div class="container">
	        <span class="font-weight-bold h2">管理者一覧</span>
	        <div class="box" style="height:10px;background-color:#005684;">
	        </div>
	        <p>The .table-striped class adds zebra-stripes to a table:</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>管理者A</td>
                <td>管理A@example.com</td>
                <td><button type="button" class="btn btn-success float-right btn-sm">Show</button></td>
                <td><button type="button" class="btn btn-danger float-right btn-sm">Delete</button></td>
              </tr>
              <tr>
                <td>管理者B</td>
                <td>管理B@example.com</td>
                <td><button type="button" class="btn btn-success float-right btn-sm">Show</button></td>
                <td><button type="button" class="btn btn-danger float-right btn-sm">Delete</button></td>
              </tr>
              <tr>
                <td>管理者C</td>
                <td>管理C@example.com</td>
                <td><button type="button" class="btn btn-success float-right btn-sm">Show</button></td>
                <td><button type="button" class="btn btn-danger float-right btn-sm">Delete</button></td>
              </tr>
              <tr>
                <td>管理者D</td>
                <td>管理D@example.com</td>
                <td><button type="button" class="btn btn-success float-right btn-sm">Show</button></td>
                <td><button type="button" class="btn btn-danger float-right btn-sm">Delete</button></td>
              </tr>
              <tr>
                <td>管理者E</td>
                <td>管理E@example.com</td>
                <td><button type="button" class="btn btn-success float-right btn-sm">Show</button></td>
                <td><button type="button" class="btn btn-danger float-right btn-sm">Delete</button></td>
              </tr>
            </tbody>
	        </table>
        </div>
      </div>
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->

