<!-- 管理者のトップ画面 -->

<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-9">
      <div class="row">
        <div class="container">
          <span class="font-weight-bold h2">管理画面TOP</span>
            <div class="box" style="height:10px;background-color:#005684;">
            </div>
            <div class="row">
              <div class="col">
                <%= image_tag "logo.png", class: "mx-auto my-3 d-block img-thumbnail", :size =>'400x400' %>
              </div>
           </div>
        </div>
      </div>
    </div><!-- メインページの閉じタグ -->

  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
