<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <!-- メインページ -->
    <div class="col-9">
      <div class="row">
        <div class="container">
          <span class="font-weight-bold h2">User詳細</span>
          <div class="box" style="height:10px;background-color:#005684;">
          </div>
          <p>The .table-striped class adds zebra-stripes to a table:</p>
          <div class="card bg-light mb-3">
            <table class="table table">
              <thead style="background-color:#A8C6D7;">
                <th>基本情報</th>
                <th>ステータス: <a class="text-success border border-success">Menber</a></th>
                <th>最終ログイン:2018/6/7</th>
                <th><a class="btn btn-secondary btn-sm float-right" href="#" >注文履歴</a></th>
                <th><a class="btn btn-secondary btn-sm float-right" href="#" >Edit</a></th>
              </thead>

              <tbody>
                <td>Name:</td>
                <td>矢沢永吉</td>
              </tbody>
              <tbody>
                <td>Email:</td>
                <td>e.yazawa@example.com</td>
              </tbody>
              <tbody>
                <td>郵便番号:</td>
                <td>0000830</td>
              </tbody>
              <tbody>
                <td>住所:</td>
                <td>広島県広島市南区仁保830</td>
              </tbody>
              <tbody>
                <td>TEL:</td>
                <td>0900000830</td>
              </tbody>
              <tbody>
                <td>Password:</td>
                <td>******</td>
              </tbody>
              <tbody>
              </tbody>

            </table>

            <h1 class="badge badge-warning">送付先住所一覧</h1>
            <table class="table table">
              <thead style="background-color:#A8C6D7;">
                <th>郵便番号</th>
                <th>住所</th>
                <th><a class="btn btn-success float-right btn-sm" href="#">送付先住所追加</a></th>
              </thead>
              <tbody>
                <td>111111</td>
                <td>東京都港区六本木830</td>
                <td><a class="btn  btn-outline-danger btn-sm float-right">Delete</a></td>
              </tbody>
              <tbody>
                <td>1234567</td>
                <td>神奈川県横浜市830</td>
                <td><a class="btn  btn-outline-danger btn-sm float-right">Delete</a></td>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->