<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-9 py-4">
      <div class="row">
        <div class="container">
          <span class="font-weight-bold h2">User一覧</span>
          <div class="box" style="height:10px;background-color:#005684;"></div>
	          <p>The .table-striped class adds zebra-stripes to a table:</p>
	          <table class="table table-striped">
	            <thead>
	              <tr>
	                <th>Name</th>
	                <th>Email</th>
	                <th>購入回数</th>
	                <th>最終ログイン</th>
	                <th>Status</th>
	                <th></th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td>矢沢永吉</td>
	                <td>e.yazawa@example.com</td>
	                <td>28</td>
	                <td>2018/6/7</td>
	                <td>Member</td>
	                <td><button type="button" class="btn btn-success">Show</button></td>
	              </tr>
	              <tr>
	                <td>成田三樹夫</td>
	                <td>n.mikki@example.com</td>
	                <td>34</td>
	                <td>2018/2/6</td>
	                <td>Unsubscribe</td>
	                <td><button type="button" class="btn btn-success">Show</button></td>
	              </tr>
	              <tr>
	                <td>菅原文太</td>
	                <td>bun@example.com</td>
	                <td>9</td>
	                <td>2018/1/23</td>
	                <td>Delete</td>
	                <td><button type="button" class="btn btn-success">Show</button></td>
	              </tr>
	              <tr>
	                <td>田岡一雄</td>
	                <td>yamaguchi@example.com</td>
	                <td>56</td>
	                <td>2018/6/5</td>
	                <td>Menber</td>
	                <td><button type="button" class="btn btn-success">Show</button></td>
	              </tr>
	              <tr>
	                <td>菅谷政雄</td>
	                <td>bonno@example.com</td>
	                <td>13</td>
	                <td>2018/5/4</td>
	                <td>Menber</td>
	                <td><button type="button" class="btn btn-success">Show</button></td>
	              </tr>
	            </tbody>
	          </table>
      		</div>
     		</div>

	      <div class="row"><!-- ページネーション -->
	        <div class="col-12">
	          <nav aria-label="Page navigation example">
	            <ul class="pagination justify-content-center">
	              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
	              <li class="page-item"><a class="page-link" href="#">1</a></li>
	              <li class="page-item"><a class="page-link" href="#">2</a></li>
	              <li class="page-item"><a class="page-link" href="#">3</a></li>
	              <li class="page-item"><a class="page-link" href="#">Next</a></li>
	            </ul>
	          </nav>
	        </div>
	      </div><!-- ページネーション閉じタグ -->

      </div><!-- メインページrowの閉じタグ -->
    </div><!-- メインページcol-9の閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
