<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-9">
      <div class="row">
        <div class="container">
        <span class="font-weight-bold h3">注文履歴</span>
        <div class="box" style="height:10px;background-color:#005684;">
        </div>
        <p>The .table-striped class adds zebra-stripes to a table:</p>

        <div clas="col-8 ">
          <form class="form-inline float-right" style="margin-bottom:10px;">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="タイトル アーティスト名で検索"></input>
              <a class="mx-3 fa fa-search text-secondary fa-lg text-right" href="#"></a>
              <select class="form-control">
                <option>アルバム</option>
                <option>シングル</option>
                <option>レコード</option>
              </select>
              <a href="#" class="ml-3 btn btn-secondary btn-sm">絞り込み</a>
            </div>
          </form>
        </div><br>

        <div class="card mx-auto" style="width:50em;margin-bottom:20px;">
          <div class="card-body">
            <a href="#" class="float-right text-secondary">back</a>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th>ステータス</th>
                  <th>件数</th>
                  <th></th>
                  <th>一覧表示</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>全ての注文</td>
                  <td>110件</td>
                  <td></td>
                  <th><a href="#" class="btn btn-outline-success">index</a></th>
                </tr>
                <tr>
                  <td>注文受付</td>
                  <td>20件</td>
                  <td></td>
                  <th><a href="#" class="btn btn-outline-success">index</a></th>
                </tr>
                <tr>
                  <td>発送準備中</td>
                  <td>50件</td>
                  <td></td>
                  <th><a href="#" class="btn btn-outline-success">index</a></th>
                </tr>
                <tr>
                  <td>発送済</td>
                  <td>20件</td>
                  <td></td>
                  <th><a href="#" class="btn btn-outline-success">index</a></th>
                </tr>
                <tr>
                  <td>配達完了</td>
                  <td>20件</td>
                  <td></td>
                  <th><a href="#" class="btn btn-outline-success">index</a></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div><!--メインページのcontainer-->
</div> <!--メインページのrow-->



  <div class="row">
      <div class="container">
            <div class="col-12 align-self-center">
              <span class="font-weight-bold">2件</span><span>の注文</span>
            </div>

              <div class="col-12">
                <table class="table table-borderless">
                  <tbody>
                    <tr><!-- ここでordersをeach -->
                      <td>
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <!-- 注文日 -->
                              <div class="col-2">
                                <span class="small text-secondary">受注日</span><br>
                                <span class="text-dark">2018年6月9日</span>
                              </div>
                              <!-- 合計金額 -->
                              <div class="col-2">
                                <span class="small text-secondary">合計</span><br>
                                <span class="text-danger">¥200,000,000</span>
                              </div>
                              <div class="col-2">
                                <span class="small text-secondary">名前</span><br>
                                <span class="text-dark">横山やすし</span>
                              </div>

                              <!-- ステータス -->
                              <div class="col-2">
                                <select class="form-control" style="margin-top:5px;">
                                  <option>注文受付</option>
                                  <option>発送準備中</option>
                                  <option>発送済</option>
                                  <option>配達完了</option>
                                </select>
                              </div>
                              <div class="col-2" style="margin-top:7px;">
                                <a href="#" class="ml-3 btn btn-success btn-sm">更新</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-body">
                            <table class="table">
                              <tbody>
                                <tr><!-- ここでorder_itemsをeach -->
                                  <td>
                                    <div class="row">
                                      <!-- ジャケット画像 -->
                                      <div class="col-2">
                                        <a href="#"><img class="" src="http://placehold.it/100x100"></a>
                                      </div>
                                      <!-- アーティスト名、商品名、税込価格 -->
                                      <div class="col-9">
                                        <a href="#" class="font-weight-bold" style="color:#0033cc; font-size: 18px;">長文アーティスト名長文アーティスト名</a><br>
                                        <a href="#" class="font-weight-bold" style="color:#1a1a1a;">長文CDタイトル長文CDタイトル</a>
                                        <p class="text-danger mt-3">¥200,000,000</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4">
                                        <span class="small text-secondary">送付先</span><br>
                                        <span class="text-dark">8300000</span><br>
                                        <span class="text-dark">東京都渋谷区道玄坂１−２−３</span>
                                      </div>
                                      <div class="col-4">
                                        <span class="small text-secondary">email</span><br>
                                        <span class="text-dark">shominahanashi@yasukiyo.com</span>
                                      </div>

                                  </div>
                                  </td>
                                </tr><!-- ここでorder_itemsのeachを終了 -->
                              </tbody>
                            </table>
                          </div>

                        </div><!-- cardの閉じタグ -->
                      </td>
                    </tr><!-- ここでordersのeachを終了 -->

                   <tr><!-- ここでordersをeach -->
                      <td>
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <!-- 注文日 -->
                              <div class="col-2">
                                <span class="small text-secondary">受注日</span><br>
                                <span class="text-dark">2018年6月9日</span>
                              </div>
                              <!-- 合計金額 -->
                              <div class="col-2">
                                <span class="small text-secondary">合計</span><br>
                                <span class="text-danger">¥40,000</span>
                              </div>
                              <div class="col-2">
                                <span class="small text-secondary">名前</span><br>
                                <span class="text-dark">夢路いとし</span>
                              </div>

                              <!-- ステータス -->
                              <div class="col-2">
                                <select class="form-control" style="margin-top:5px;">
                                  <option>注文受付</option>
                                  <option>発送準備中</option>
                                  <option>発送済</option>
                                  <option>配達完了</option>
                                </select>
                              </div>
                              <div class="col-2" style="margin-top:7px;">
                                <a href="#" class="ml-3 btn btn-success btn-sm">更新</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-body">
                            <table class="table">
                              <tbody>
                                <tr><!-- ここでorder_itemsをeach -->
                                  <td>
                                    <div class="row">
                                      <!-- ジャケット画像 -->
                                      <div class="col-2">
                                        <a href="#"><img class="" src="http://placehold.it/100x100"></a>
                                      </div>
                                      <!-- アーティスト名、商品名、税込価格 -->
                                      <div class="col-9">
                                        <a href="#" class="font-weight-bold" style="color:#0033cc; font-size: 18px;">長文アーティスト名長文アーティスト名</a><br>
                                        <a href="#" class="font-weight-bold" style="color:#1a1a1a;">長文CDタイトル長文CDタイトル</a>
                                        <p class="text-danger mt-3">¥20,000</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <!-- ジャケット画像 -->
                                      <div class="col-2">
                                        <a href="#"><img class="" src="http://placehold.it/100x100"></a>
                                      </div>
                                      <!-- アーティスト名、商品名、税込価格 -->
                                      <div class="col-9">
                                        <a href="#" class="font-weight-bold" style="color:#0033cc; font-size: 18px;">長文アーティスト名長文アーティスト名</a><br>
                                        <a href="#" class="font-weight-bold" style="color:#1a1a1a;">長文CDタイトル長文CDタイトル</a>
                                        <p class="text-danger mt-3">¥20,000</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-4">
                                        <span class="small text-secondary">送付先</span><br>
                                        <span class="text-dark">1230000</span><br>
                                        <span class="text-dark">東京都港区六本木１−２−３</span>
                                      </div>
                                      <div class="col-4">
                                        <span class="small text-secondary">email</span><br>
                                        <span class="text-dark">kimi@itoshi.com</span>
                                      </div>
                                  </div>
                                  </td>
                                </tr><!-- ここでorder_itemsのeachを終了 -->
                              </tbody>
                            </table>
                          </div>

                        </div><!-- cardの閉じタグ -->
                      </td>
                    </tr><!-- ここでordersのeachを終了 -->
                  </tbody>
                </table>
                <div class="row"><!-- ページネーション -->
                  <div class="col-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                  </div><!-- ページネーション閉じタグ -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
