<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-9">
      <div class="row">
        <div class="container">
        <span class="font-weight-bold h3">問合せ一覧</span>
          <div class="box" style="height:10px;background-color:#005684;"></div>
            <p>The .table-striped class adds zebra-stripes to a table:</p>
              <div clas="col-6">
                <span class="font-weight-bold">3件</span><span>の問合せ</span>
                  <div class="float-right">
                    <form class="form-inline">
                      <div class="form-group">
                        <select class="form-control">
                          <option>未対応</option>
                          <option>対応中</option>
                          <option>対応済</option>
                        </select>
                        <a href="#" class="ml-3 btn btn-secondary btn-sm">絞り込み</a>
                      </div>
                    </form>
                  </div>
              </div>

              <div class="col-12">
                <table class="table table-borderless">
                  <tbody>
                    <tr><!-- ここでcontactsをeach -->
                      <td>
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-3">
                                <span class="small text-secondary">問合せ受付日</span><br>
                                <span class="text-dark">2018年6月9日</span><br>
                              </div>
                              <div class="col-4">
                                <span class="small text-secondary">Name</span><br>
                                <span class="text">マイケル・ジャクソン</span>
                              </div>
                              <div class="col-3">
                                <span class="small text-secondary">ステータス</span><br>
                                <span class="text-danger">未対応 - 2018/6/9</span>
                              </div>
                              <div class="col-2 align-self-center">
                                <a href="#" class="btn btn-outline-primary btn-sm float-right">詳細</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-body">
                            <p>-件名-</p>
                            <p>商品について</p>
                          </div>

                        </div><!-- cardの閉じタグ -->
                      </td>
                    </tr><!-- ここでcontactsのeachを終了 -->

                    <tr><!-- ここでcontactsをeach -->
                      <td>
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-3">
                                <span class="small text-secondary">問合せ受付日</span><br>
                                <span class="text-dark">2018年6月3日</span><br>
                              </div>
                              <div class="col-4">
                                <span class="small text-secondary">Name</span><br>
                                <span class="text">ジェームス・ブラウン</span>
                              </div>
                              <div class="col-3">
                                <span class="small text-secondary">ステータス</span><br>
                                <span class="text-success">対応済 - 2018/6/6</span>
                              </div>
                              <div class="col-2 align-self-center">
                                <a href="#" class="btn btn-outline-primary btn-sm float-right">詳細</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-body">
                            <p>-件名-</p>
                            <p>支払い方法について</p>
                          </div>

                        </div><!-- cardの閉じタグ -->
                      </td>
                    </tr><!-- ここでcontactsのeachを終了 -->

                    <tr><!-- ここでcontactsをeach -->
                      <td>
                        <div class="card">
                          <div class="card-header">
                            <div class="row">
                              <div class="col-3">
                                <span class="small text-secondary">問合せ受付日</span><br>
                                <span class="text-dark">2018年6月1日</span><br>
                              </div>
                              <div class="col-4">
                                <span class="small text-secondary">Name</span><br>
                                <span class="text">ジャネット・ジャクソン</span>
                              </div>
                              <div class="col-3">
                                <span class="small text-secondary">ステータス</span><br>
                                <span class="text-warning">対応中 - 2018/6/9</span>
                              </div>
                              <div class="col-2 align-self-center">
                                <a href="#" class="btn btn-outline-primary btn-sm float-right">詳細</a>
                              </div>
                            </div>
                          </div>

                          <div class="card-body">
                            <p>-件名-</p>
                            <p>商品の入荷について</p>
                          </div>

                        </div><!-- cardの閉じタグ -->
                      </td>
                    </tr><!-- ここでcontactsのeachを終了 -->

                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row"><!-- ページネーション -->
        <div class="col-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div><!-- ページネーション閉じタグ -->

    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
