<div class="container" style="min-height: 100%; margin-bottom: -120px;">
  <div class="row" style="margin-top: 120px;">
    <!-- カートテーブル -->
    <div class="col-9">
      カートに商品がありません
    </div>

    <!-- サイドバー -->
    <div class="col-3">
      <p class="text-center h5 text-white" style="background-color:#B40404;">注文</p>
      <div class="list-group">
        <div class="list-group-item">
          <p class="text-center">合計価格</p>
          <p class="h3 text-center">¥0</p>
        </div>
        <!-- <a href="#" class="list-group-item text-center">注文画面へ</a> -->
      </div>
      <div class="text-center">
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item"><a href="#" class="btn btn-outline-danger mt-2">カートを空にする</a></li> -->
          <li class="list-group-item"><a href="#" class="btn btn-outline-secondary mt-2">マイページへ</a></li>
          <li class="list-group-item"><a href="#" class="btn btn-outline-secondary mt-2">買い物を続ける</a></li>

        </ul>
      </div>
    </div>

  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
