<!-- 送付先住所の編集画面 -->

<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

    <% if admin_signed_in? %>
      <!-- 管理者がログインしていれば管理者サイドバーを表示 -->
      <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->
    <% else %>

    <div class="col-6 mx-auto" style="margin-top: 60px;">
      <div class="jumbotron">
       <h1 class="text-center font-weight-light">送付先住所の変更</h1>
        <label for="InputName">名前</label>
        <p class="h4">矢沢永吉</p>
        <div class="form-group">
          <label for="InputAddress">郵便番号</label>
          <input class="form-control" id="InputAddress" placeholder="ハイフンなし"></input>
        </div>
        <div class="form-group">
          <label for="InputAddress">住所(全角)</label>
          <input class="form-control" id="InputAddress" placeholder="住所"></input>
        </div>
        <a href="#" class="btn btn-warning btn-block">-住所を変更-</a><br>
        <a href="#" class="btn btn-sm btn btn-outline-secondary">Back</a>
      </div>
    </div>

    <% end %>

  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->