<!-- 管理者の商品一覧画面 -->
<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-9 py-4">
      <div class="row">
        <div class="container">
          <span class="font-weight-bold h3">商品一覧</span>
          <div class="box" style="height:10px;background-color:#005684;"></div>
          <p>The .table-striped class adds zebra-stripes to a table:</p>

          <div clas="col-8 ">
            <span class="font-weight-bold">5件</span><span>の注文</span>
            <form class="form-inline float-right">
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="タイトル アーティスト名で検索"></input>
                <a class="mx-3 fa fa-search text-secondary fa-lg text-right" href="#"></a>
                <select class="form-control">
                  <option>アルバム</option>
                  <option>シングル</option>
                  <option>レコード</option>
                </select>
                <a href="#" class="ml-3 btn btn-secondary btn-sm">絞り込み</a>
              </div>
            </form>
          </div><br>

          <table class="table table-hover">
            <thead>
              <tr class="table-light">
                <th>タイトル</th>
                <th>アーティスト</th>
                <th>価格</th>
                <th>レビュー</th>
                <th>在庫数</th>
                <th>商品タイプ</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><a href="#" >Perseverrance</a></td>
                <td><a href="#" >HATE BREED</a></td>
                <td>¥2,100</td>
                <td><a href="#" >12件</a></td>
                <td class="text-success">210枚</td>
                <td>アルバム</td>
              </tr>
              <tr>
                <td><a href="#" >Bluetality</a></td>
                <td><a href="#" >Merauder</a></td>
                <td>¥3,580</td>
                <td><a href="#" >20件</a></td>
                <td class="text-warning">50枚</td>
                <td>アルバム</td>
              </tr>
              <tr>
                <td><a href="#" >Complete Disorder</a></td>
                <td><a href="#" >Disorder</a></td>
                <td>¥2,980</td>
                <td><a href="#" >20件</a></td>
                <td class="text-danger">20枚</td>
                <td>レコード</td>
              </tr>
              <tr>
                <td><a href="#" >Total Chaos</a></td>
                <td><a href="#" >Chaos UK</a></td>
                <td>¥1,980</td>
                <td><a href="#" >6件</a></td>
                <td class="text-success">320枚</td>
                <td>レコード</td>
              </tr>
              <tr>
                <td><a href="#" >Vulgar Display of Power</a></td>
                <td><a href="#" >Pantera</a></td>
                <td>¥1,980</td>
                <td><a href="#" >6件</a></td>
                <td class="text-success">320枚</td>
                <td>アルバム</td>
              </tr>
            </tbody>
          </table>

        </div><!--メインページのcontainer-->
      </div> <!--メインページのrow-->
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
