<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

  	<!-- サイドバー -->
		<%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- 商品情報 -->
    <div class="col-9">
      <div class="row">
        <div class="container col-12">
          <div class="row">
            <div class="container">
              <span class="font-weight-bold h2">商品詳細</span>
              <div class="box" style="height:10px;background-color:#005684;"></div>

              <p>The .table-striped class adds zebra-stripes to a table:</p>

              <div class="container">
                <div class="jumbotron">
                  <a href="#" class="btn btn-outline-warning btn-sm float-right">商品情報更新</a>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label class="control-label font-weight-bold">商品タイプ</label>
                      <div class="radio">
                        <label><input type="radio" name="radio">シングルCD</label>
                        <label><input type="radio" name="radio">アルバムCD</label>
                        <label><input type="radio" name="radio">レコード</label>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="font-weight-bold">タイトル</label>
                      <input class="form-control" type="text" placeholder="The Long Road[Bonus Tracks]">
                    </div>
                    <div class="form-group col-md-3">
                      <label class="font-weight-bold">レーベル名</label>
                      <input class="form-control" type="text" placeholder="東西レコード">
                    </div>
                    <div class="form-group col-md-3">
                      <label class="font-weight-bold">ジャンル</label>
                      <input class="form-control" type="text" placeholder="ROCK">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="font-weight-bold">商品紹介</label>
                    <textarea class="form-control" type="text" placeholder="Nickelbackのマスターピース"></textarea>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label class="font-weight-bold">商品単価</label>
                      <input class="form-control" type="text" placeholder="2,100">
                    </div>
                    <div class="form-group col-md-2">
                      <label class="font-weight-bold">在庫数</label>
                      <input class="form-control" type="text" placeholder="10">
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">ステータス</label>
                      <p>販売中</p>
                    </div>
                    <div class="col-md-2">
                      <select class="form-control">
                        <option>販売中</option>
                        <option>取扱中止</option>
                      </select>
                    </div>
                  </div>

                  <a href="#" class="col-md-3 form-control-file ">ジャケットを変更</a>
                  <table class="table table-sm">
                    <thead>
                      <th class="text-center">ディスク番号</th>
                      <th class="text-center">アーティスト名</th>
                      <th class="text-center">アーティスト名<br>(カナ)</th>
                      <th class="text-center">トラック番号</th>
                      <th class="text-center">曲名</th>
                      <th></th>
                    </thead>

                    <tbody>
                      <td><input class="form-control col-sm-3 mx-auto" type="text" placeholder="1"></td>
                      <td><input class="form-control" type="text" placeholder="Nickelback"></td>
                      <td><input class="form-control" type="text"　placeholder="ニッケルバック"></td>
                      <td><input class="form-control col-sm-3 mx-auto" type="text" placeholder="1"></td>
                      <td><input class="form-control" type="text" placeholder="Flat On The Floor"></td>
                    </tbody>

                    <tbody>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                    </tbody>

                    <tbody>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                    </tbody>

                    <tbody>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><input class="form-control col-sm-3 mx-auto" type="text"></td>
                      <td><input class="form-control" type="text"></td>
                      <td><a href="#" class="btn btn-outline-danger btn-sm">delete</a></td>
                    </tbody>

                  </table>

                  <button class="btn btn-outline-success float-right">追加</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- ジャケット画像 -->
        <div class="col-4">
          <img src="http://placehold.it/250x250" class="mw-100" style="max-width: 250px; max-height: 250px;">
        </div>
        <!-- 商品　大情報 -->
        <div class="col-5" style="word-break: break-all;">
          <div>
            <p><a href="#" class="btn btn-success btn-sm text-white">J-Pop</a></p>
            <a href="#" class="font-weight-bold" style="color:#0033cc; font-size: 18px;">長文アーティスト名長文アーティスト名</a><br>
            <a href="#" class="font-weight-bold" style="color:#1a1a1a;">長文CDタイトル長文CDタイトル</a>
          </div>

          <div class="mt-3">
            <span class="text-dark small">2,000円(税込)</span><br>
            <span class="text-danger small">在庫残り10点</span>
          </div>

        </div>
        <!-- カート追加関連 -->
        <div class="col-3 align-self-end">
          <!-- カートに入れる数量 -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item form-group">
                <input class="form-control form-control-sm" type="text" placeholder="数量を入力">
                </input>
            </li>
            <!-- カートか欲しいものリストに追加 -->
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">カートに追加</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">リストに追加</a></li>
          </ul>
        </div>

        <!-- YouTube -->

        <div class="col-12 mt-4">
          <iframe class="" src="https://www.youtube.com/embed/exlGc8eFXI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

      </div>

      <!-- 商品　小情報 -->
      <div class="row">
        <div class="col-12">
          <table class="table table-sm small">
            <thead class="text-white" style="background-color:#B40404;">
              <tr>
                <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品情報</p>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="bg-secondary text-white">商品タイプ</th>
                <td>シングル</td>
                <th class="bg-secondary text-white">レーベル</th>
                <td>ほにゃらら</td>
              </tr>
              <tr>
                <th class="bg-secondary text-white">ディスク枚数</th>
                <td>1</td>
                <th class="bg-secondary text-white">収録曲数</th>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 収録曲トラックナンバー、タイトル、アーティスト -->
      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white" style="background-color:#B40404;">収録曲</p>
          <table class="table table-sm table-striped small"  style="width: 100%; table-layout: fixed; overflow: hidden;">
            <tbody>
              <tr>
                <th scope="row" style="width: 3%;">1</th>
                <td style="width: 47%;">曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text</td>
                <td style="width: 50%;">
                  アーティスト名（全曲共通なら非表示にしたい）アーティスト名（全曲共通なら非表示にしたい）
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 3%;">2</th>
                <td style="width: 47%;">曲名</td>
                <td>
                  アーティスト名（全曲共通なら非表示にしたい）
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 3%;">3</th>
                <td style="width: 47%;">曲名</td>
                <td>
                  アーティスト名（全曲共通なら非表示にしたい）
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品紹介</p>
          <div class="small" style="word-break: break-all;">
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">購入者レビュー</p>
          <table class="table" style="word-break: break-all;">
            <tbody>

              <tr>
                <td>
                  <p class="text-dark">ユーザーネーム</p>
                  <span class="font-weight-bold">レビュータイトル</span><a href="#" class="btn btn-outline-danger btn-sm float-right">削除</a><br>
                  <span class="text-secondary">2018/6/8</span>
                  <div class="mt-1 small text-dark">
                    購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <p class="text-dark">ユーザーネーム</p>
                  <span class="font-weight-bold">レビュータイトル</span><a href="#" class="btn btn-outline-danger btn-sm float-right">削除</a><br>
                  <span class="text-secondary">2018/6/8</span>
                  <div class="mt-1 small text-dark">
                    購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <p class="text-dark">user name</p>
                  <span class="font-weight-bold">review title</span><a href="#" class="btn btn-outline-danger btn-sm float-right">削除</a><br>
                  <span class="text-secondary">2018/6/8</span>
                  <div class="mt-1 small text-dark">
                    texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->