<!-- メインページ -->
<div class="container">
  <div class="row">

    <!-- サイドバー -->
  	<%= render 'layouts/sidebar_users', {} %> <!-- 変数を再定義する必要有り -->

    <!-- 商品情報 -->
    <div class="col-9 my-4">
      <div class="row">
        <!-- ジャケット画像 -->
        <div class="col-4">
          <img src="http://placehold.it/250x250" class="mw-100" style="max-width: 250px; max-height: 250px;">
        </div>
        <!-- 商品　大情報 -->
        <div class="col-5" style="word-break: break-all;">
          <div>
            <p><a href="#" class="btn btn-success btn-sm text-white">J-Pop</a></p>
            <a href="#" class="font-weight-bold" style="color:#0033cc; font-size: 18px;">長文アーティスト名長文アーティスト名</a><br>
            <a href="#" class="font-weight-bold" style="color:#1a1a1a;">長文CDタイトル長文CDタイトル</a>
          </div>

          <div class="mt-3">
            <span class="text-dark small">2,000円(税込)</span><br>
            <span class="text-danger small">在庫残り10点</span>
          </div>

        </div>
        <!-- カート追加関連 -->
        <div class="col-3 align-self-end">
          <!-- カートに入れる数量 -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item form-group">
                <input class="form-control form-control-sm" type="text" placeholder="数量を入力">
                </input>
            </li>
            <!-- カートか欲しいものリストに追加 -->
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">カートに追加</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">リストに追加</a></li>
          </ul>
        </div>

      </div>
      <!-- YouTube -->
      <div class="row">
        <div class="col-12 mt-4">
          <iframe class="" src="https://www.youtube.com/embed/exlGc8eFXI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <!-- 商品　小情報 -->
      <div class="row">
        <div class="col-12">
          <table class="table table-sm small">
            <thead class="text-white" style="background-color:#B40404;">
              <tr>
                <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品情報</p>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="bg-secondary text-white">商品タイプ</th>
                <td>シングル</td>
                <th class="bg-secondary text-white">レーベル</th>
                <td>ほにゃらら</td>
              </tr>
              <tr>
                <th class="bg-secondary text-white">ディスク枚数</th>
                <td>1</td>
                <th class="bg-secondary text-white">収録曲数</th>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 収録曲トラックナンバー、タイトル、アーティスト -->
      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white" style="background-color:#B40404;">収録曲</p>
            <table class="table table-sm table-striped small"  style="width: 100%; table-layout: fixed; overflow: hidden;">
              <tbody>
                <tr>
                  <th scope="row" style="width: 3%;">1</th>
                  <td style="width: 47%;">曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text曲名text</td>
                  <td style="width: 50%;">
                    アーティスト名（全曲共通なら非表示にしたい）アーティスト名（全曲共通なら非表示にしたい）
                  </td>
                </tr>
                <tr>
                  <th scope="row" style="width: 3%;">2</th>
                  <td style="width: 47%;">曲名</td>
                  <td>
                    アーティスト名（全曲共通なら非表示にしたい）
                  </td>
                </tr>
                <tr>
                  <th scope="row" style="width: 3%;">3</th>
                  <td style="width: 47%;">曲名</td>
                  <td>
                    アーティスト名（全曲共通なら非表示にしたい）
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品紹介</p>
          <div class="small" style="word-break: break-all;">
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">購入者レビュー</p>
            <table class="table" style="word-break: break-all;">
              <tbody>

                <tr>
                  <td>
                    <p class="text-dark">ユーザーネーム</p>
                    <span class="font-weight-bold">レビュータイトル</span><br>
                    <span class="text-secondary">2018/6/8</span>
                    <div class="mt-1 small text-dark">
                      購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="text-dark">ユーザーネーム</p>
                    <span class="font-weight-bold">レビュータイトル</span><br>
                    <span class="text-secondary">2018/6/8</span>
                    <div class="mt-1 small text-dark">
                      購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext購入者レビューtext
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="text-dark">user name</p>
                    <span class="font-weight-bold">review title</span><br>
                    <span class="text-secondary">2018/6/8</span>
                    <div class="mt-1 small text-dark">
                      texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
        </div>
      </div>

    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->