<!-- 管理者側サイドバー -->
<div class="col-2" style="background-color:#005684;">
  <p class="text-center my-4 h5 text-white">Dashboard</p>
  <li data-toggle="collapse" href="#collapse-A" style="list-style-type:none;">
    <a href="#" class="text-white"><span class="fas fa-users"></span>ユーザ管理</a>
  </li>
    <ul id="collapse-A" class="collapse" style="list-style-type:none;">
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>管理者登録</a></li>
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>管理者一覧</a></li>
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>ユーザー一覧</a></li>
    </ul>
  <li data-toggle="collapse" href="#collapse-B" style="list-style-type:none;">
    <a href="#" class="text-white"><span class="fas fa-music"></span>商品管理</a>
  </li>
    <ul id="collapse-B" class="collapse" style="list-style-type:none;">
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>新規登録</a></li>
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>商品一覧</a></li>
    </ul>
  <li data-toggle="collapse" href="#collapse-C" style="list-style-type:none;">
    <a href="#" class="text-white"><span class="fas fa-shopping-bag"></span>注文管理</a>
  </li>
    <ul id="collapse-C" class="collapse" style="list-style-type:none;">
      <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>注文一覧</a></li>
    </ul>
  <li data-toggle="collapse" href="#collapse-D" style="list-style-type:none;">
    <a href="#" class="text-white"><span class="fas fa-comments"></span>レビュー管理</a>
  </li>
  <ul id="collapse-D" class="collapse" style="list-style-type:none;">
    <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>レビュー一覧</a></li>
  </ul>
  <li data-toggle="collapse" href="#collapse-D" style="list-style-type:none;">
    <a href="#" class="text-white"><span class="fas fa-envelope-open"></span>問合せ管理</a>
  </li>
  <ul id="collapse-E" class="collapse" style="list-style-type:none;">
    <li><a href="#" class="text-white"><span class="fas fa-minus-square fa-fw"></span>問合せ一覧</a></li>
  </ul>
</div>