<div class="container col-6" style="margin-top:150px;">
  <div class="row">
    <div class="card" style="width:70rem;">
      <div class="card-header bg-secondary">
        <h2 class="text-center text-white">レビュー編集</h2>
      </div>

      <div class="card-body bg-light">
        <div class="form-group">
          <input class="form-control"  placeholder="タイトル"></input><br>
          <textarea class="form-control"  placeholder="Message" rows="10"></textarea><br>
          <a class=" btn btn-outline-warning float-right" href="#">変更</a>
        </div>
      </div>

    </div>
  </div>
</div>
